{% extends'base.html.twig' %}
{% block title %}
   Modification Tache
{% endblock %}
{% block body %}
    <h3><span style="color: #868686">Modifier Tache</span></h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-info">Valider</button>
    <button type="reset" class="btn btn-danger">Reset</button>
    {{ form_end(form) }}
<br>
<br>
<br>
{% endblock %}