{% extends 'base.html.twig' %}

{% block title %}Liste des Taches{% endblock %}

{% block body %}

    <h3><span style="color: #868686">Liste des Taches</span></h3>
    <button class="btn btn-sm btn-success float-right"
            title="Ajouter une nouvelle tache">
        <i class="fa fa-plus"> <a href="tache/new" class="nav-link"></a>
{#                        Ajouter une nouvelle tache#}
        </i>

    </button>
    <br>
    <br>
    <br>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Titre

            </th>
            <th class="th-sm">Description

            </th>
            <th class="th-sm">Projet

            </th>
            <th class="th-sm">Date Debut

            </th>
            <th class="th-sm">Date Fin

            </th>
            <th class="th-sm">Opérations
            </th>
        </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td>{{ tache.titre }}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.projet.nom }}</td>
                <td>{{ tache.dateDebut |date("m/d/Y") }}</td>
                <td>{{ tache.dateFin  |date("m/d/Y")}}</td>
                <td>
                    <a href="/tache/show/{{ tache.id }}" class="btn btn-info">Détails</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/tache/edit/{{ tache.id }}" class="btn btn-warning">Modifier</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/tache/delete/{{ tache.id }}" class="btn btn-danger"
                       onclick="return confirm('Etes vus sur de supprimer cette tache?')"
                    >Supprimer</a>

                </td>
            </tr>
        {% endfor %}
        </tfoot>
    </table>


    {% block javascripts %}
        {#        <script type="text/javascript">#}
        {#            $(document).ready(function () {#}
        {#                $('#dtBasicExample').DataTable();#}
        {#                $('.dataTables_length').addClass('bs-select');#}
        {#            });#}
        {#        </script>#}
    {% endblock %}

{% endblock %}


