{% extends'base.html.twig' %}
{% block title %}
    Ajouter une catégory
{% endblock %}
{% block body %}
    <h3><span style="color: #868686">Ajouter Tache</span></h3>
<br>
    {{ form_start(form)}}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Créer</button>
    <button type="reset" class="btn btn-danger">Reset</button>
    {{ form_end(form) }}

{% endblock %}