{% extends'base.html.twig' %}
{% block title %}
    Détail Tache
{% endblock %}
{% block body %}

    <br>
    <h3> <span style="color: #868686">Détail Tache</span></h3>

    <p><span style="color: dodgerblue">Titre </span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #868686">{{ tache.titre }}</span></p>
    <p><span style="color: dodgerblue">Projet </span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #868686">{{ tache.projet.nom }}</span></p>
    <p> <span style="color: dodgerblue">Decription  </span><span style="color: #868686">{{ tache.description }}</span></p>
    <p>    <span style="color: dodgerblue">Date Debut </span> <span style="color: #868686">{{ tache.dateDebut |date("m/d/Y") }}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="color: dodgerblue">Date Fin </span><span style="color: #868686">{{ tache.dateFin |date("m/d/Y")}}</span>
    </p>
    <hr>
    <a class="btn btn-info" href="/taches">Retour</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{#    <a href="/produit/edit/{{ produit.id }}" class="btn btn-warning">Modifier</a>#}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{#    <a href="/produit/delete/{{ produit.id }}" class="btn btn-danger"#}
{#       onclick="return confirm('Etes vus sur de supprimer cet produit?')"#}
{#    >Supprimer</a>#}

{% endblock %}