{% extends'base.html.twig' %}
{% block title %}
    <h3> <span style="color: #868686">Modification produit</span></h3>
{% endblock %}
{% block body %}
<br><br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button type="submit" class="btn btn-info">Valider</button>
    <button type="reset" class="btn btn-danger">Reset</button>
    {{ form_end(form) }}

{% endblock %}