{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}

    <h3><span style="color: #868686">Liste des projets</span></h3>
    <button class="btn btn-sm btn-success float-right"
            title="Ajouter un nouveau projet">
        <i class="fa fa-plus"> <a href="projet/new" class="nav-link"></a>
            {#                        Ajouter un produit#}
        </i>

    </button>
    <br>
    <br>
    <br>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Nom

            </th>
            <th class="th-sm">Description

            </th>

            <th class="th-sm">Date Debut

            </th>
            <th class="th-sm">Date Fin

            </th>
            <th class="th-sm">Opérations
            </th>
        </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.dateDebut |date("m/d/Y") }}</td>
                <td>{{ projet.dateFin  |date("m/d/Y")}}</td>
                <td>
                    <a href="/projet/show/{{ projet.id }}" class="btn btn-info">Détails</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/projet/edit/{{ projet.id }}" class="btn btn-warning">Modifier</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/projet/delete/{{ projet.id }}" class="btn btn-danger"
                       onclick="return confirm('Etes vus sur de supprimer cet projet?')"
                    >Supprimer</a>

                </td>
            </tr>
        {% endfor %}
        </tfoot>
    </table>


    {% block javascripts %}
        {#        <script type="text/javascript">#}
        {#            $(document).ready(function () {#}
        {#                $('#dtBasicExample').DataTable();#}
        {#                $('.dataTables_length').addClass('bs-select');#}
        {#            });#}
        {#        </script>#}
    {% endblock %}

{% endblock %}


