{% extends'base.html.twig' %}
{% block title %}
    <h3> <span style="color: #868686">Ajouter un projet</span></h3>
{% endblock %}
{% block body %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-info">Créer</button>
    <button type="reset" class="btn btn-danger">Reset</button>
    {{ form_end(form) }}

{% endblock %}