{% extends'base.html.twig' %}
{% block title %}
    Détail Projet
{% endblock %}
{% block body %}

    <br>
    <h3> <span style="color: #868686">Détail Projet</span></h3>

    <p><span style="color: dodgerblue">Nom </span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #868686">{{ projet.nom }}</span></p>
    <p><span style="color: dodgerblue">Description </span><span style="color: #868686">{{ projet.description }}</span></p>
    <p>    <span style="color: dodgerblue">Date Debut </span> <span style="color: #868686">{{ projet.dateDebut |date("m/d/Y") }}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="color: dodgerblue">Date Fin </span><span style="color: #868686">{{ projet.dateFin |date("m/d/Y")}}</span>
    </p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if taches %}
    <p><span style="color: dodgerblue">Tâches</span>
    {% endif %}

    {% if taches %}
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm">Titre

        </th>
        <th class="th-sm">Description

        </th>
        <th class="th-sm">Date Debut

        </th>
        <th class="th-sm">Date Fin

        </th>

    </tr>
    </thead>
    <tbody>
    {% for tache in taches %}
        <tr>
            <td>{{ tache.titre }}</td>
            <td>{{ tache.description }}</td>
            <td>{{ tache.dateDebut |date("m/d/Y") }}</td>
            <td>{{ tache.dateFin  |date("m/d/Y")}}</td>
        </tr>
    {% endfor %}
    </tfoot>
    </table>
    {% else %}
        <br>
        <p><center>Aucune tâche</center></p>
    {% endif %}
<hr>
    <a class="btn btn-info" href="/projet">Retour</a>

{% endblock %}