<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Hajer Harbaoui Entretien DGP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/taches" class="nav-link">Tâches</a>
                </li>
                <li class="nav-item">
                    <a href="/projets" class="nav-link">projets</a>
                </li>
                <li class="nav-item">
                    <a href="/app_logout" class="nav-link">Deconnexion</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a href="/newArticle" class="nav-link">Ajouter article</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="/category/new" class="nav-link">Ajouter category</a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</nav>