{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion !</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <input placeholder="Adresse email..." requied name="_username" value ="{{lastUsername}}"
                   type="text" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mode de passe..." requied name="_password"
                   type="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion</button>
        </div>
    </form>

{% endblock %}
